main {
    font-size: 10px;
}
section {
    margin: 20px 200px;
    padding: 0 15em;
}

h1, .h1, h2, h3 {
    margin-top: 1em;
}
h1 {
    margin-bottom: 0;
    font-size: 2.25em;
    text-align: center;
}
h2 {
    margin-bottom: .6em;
    font-size: 2em;
    text-align: center;
}
h3 {
    margin-bottom: .4em;
    font-size: 1.8em;
}

h4, h5, h6 {
    margin-top: 0.4em;
    margin-bottom: .3em;
    margin-left: .8em;
    font-size: 1.7em;
}

table {
    font-size: 1.4em;
}
th, td {
    padding: 1em 1.5em;
    line-height: 1.5;
}
p, li {
    margin-bottom: .5em;
    text-align: justify;
    font-size: 1.4em;
}
li ul {
    margin-top: .5rem;
}
li > p, li li {
    margin-bottom: .2em;
    font-size: 1em;
}

ul {
    margin-bottom: 1em;
}
li {
    margin-bottom: 0;
}
.contactHeading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
a {
    color: #30323D;
    text-decoration: none;
    transition: background-color .3s ease;
    text-align: center;
}
a[download] {
    background: #bf4e30;
    color: #FFFAFF;
    padding: 3px 5px;
    font-size: 1.5em;
    border: 2px solid #EF6F6C;
    align-self: center;
    margin-top: .75rem;
}
a[download]:hover {
    background-color: #EF6F6C;
}
.headerInfoText {
    margin-bottom: 0;
    margin-top: .5rem;
    font-size: 1.4em;
    line-height: 1.1;
    text-align: center;
}
