.resume {
    font-size: 10px;
}

.resumeHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.resume h1, .resume .h1, .resume h2, .resume h3 {
    margin-top: 1em;
}

.resume h1 {
    margin-bottom: 0;
    font-size: 2.25em;
    text-align: center;
}

.resume h2 {
    margin-bottom: .6em;
    font-size: 2em;
    text-align: center;
}

.resume h3 {
    margin-bottom: .4em;
    font-size: 1.8em;
}

.resume h4, .resume h5, .resume h6 {
    margin-top: 0.4em;
    margin-bottom: .3em;
    margin-left: .8em;
    font-size: 1.7em;
}

.resume table {
    font-size: 1.4em;
}

.resume th, .resume td {
    padding: 1em 1.5em;
    line-height: 1.5;
}

.resume p, .resume li {
    margin-bottom: .5em;
    text-align: justify;
    font-size: 1.4em;
}

.resume li ul {
    margin-top: .5rem;
}

.resume li > p, .resume li li {
    margin-bottom: .2em;
    font-size: 1em;
}


.resume ul {
    margin-bottom: 1em;
}

.resume li {
    margin-bottom: 0;
}


.resume a {
    color: #30323D;
    text-decoration: none;
    transition: background-color .3s ease;
    text-align: center;
}

.resume a[download] {
    background: #0BAFC1;
    color: #FFFAFF;
    padding: 10px 15px;
    font-size: 1.5em;
    border: 2px solid #242f40;
    border-radius: 5px;
    align-self: center;
    margin-top: .75rem;
}

.resume a[download]:hover {
    background-color: #242f40;
}

.resume .headerInfoText {
    margin-bottom: 0;
    margin-top: .5rem;
    font-size: 1.4em;
    line-height: 1.1;
    text-align: center;
}
