$white: #FFFAFF;
$dullWhite: #F5F5F5;
$lightGray: #CDD7D6;
$black: #100007;
$textBlack: #30323D;
$blue: #242f40;

$yellow: #FFF07C;
$lightYellow: #fff6ca;
$brown: #A77E58;


/* vermillion: bf4e30
// *cultured (white): F5F5F5
// *yellow crayola: FFF07C
// ****jet: 30323D
// *light gray: CDD7D6
// *Xiketic (black): 100007
// *Cafe Au Lait (light brown - reddish?): A77E58
*/