.footer {
    background-color: #FFF07C;
    padding: 30px 30px 20px;
    margin-top: auto;
    grid-area: footer;
}

.footerNav {
    display: grid;
    justify-content: end;
}

.footerNav ul {
    display: grid;
    grid-template-columns: repeat(2, 70px) repeat(2, 60px);
    margin-bottom: 0;
}

.footerIcon {
    height: 40px;
}

.footerNav li {
    list-style-type: none;
    height: 40px;
}

.footerNav li a {
    box-shadow: none;
    margin: auto;
}
