img {
    margin-bottom: 0;
}


.header {
    background: #242f40;
    color: #FFFAFF;
    padding: 20px 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    grid-area: header;
    box-shadow: 0 0 12px 0 #888;
}

.titleTag {
    margin: 0 auto 0 1rem;
    text-align: left;
    color: #FFFAFF;
}
.headerOne {
    font-size: 1.6rem;
    color: #FFF07C;
    margin: 0;
    text-align: left;
}

.headerNav {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.headerNav ul {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

.headerNav a {
    color: #FFFAFF;
    transition: all .3s ease;
    text-decoration: none;
    margin: 0 10px;
}

.headerNav a:hover {
    color: #FFF07C;
}

.siteLink {
    box-shadow: none;
    display: flex;
}
